@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #292929;
  --color-ubuntu-orange: #e95420;
  --color-ubuntu-purple: #8b3583;

  --font-sans:
    'Ubuntu', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility btn {
  @apply inline-flex items-center justify-center rounded-3xl shadow-md text-center py-3 px-8;
}

@utility section {
  @apply py-3 px-3 mx-auto w-full max-w-6xl md:px-4;
}

@utility card {
  @apply rounded-2xl p-4 w-full shadow-md;

  /* border gradient https://css-tricks.com/gradient-borders-in-css/ */
  position: relative;
  background: white;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 1em;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(44deg, #77216f 20%, #e95420);
  }
}

@utility header-link {
  @apply font-medium hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out;
}

@utility form-group {
  @apply flex items-center gap-4;
}

@utility form-label {
  @apply w-36 flex-shrink-0 text-lg font-medium text-gray-700;
}

@utility form-input {
  @apply flex-1 px-3 py-2 border border-gray-300 rounded-md bg-white focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}

@layer utilities {
  html {
    height: 100%;
  }

  svg {
    height: 1.5em;
    width: 1.5em;
  }

  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src:
      url('/fonts/Ubuntu-L_W.woff2') format('woff2'),
      url('/fonts/Ubuntu-L_W.woff') format('woff');
  }

  .bg-ubuntu-gradient {
    background-color: transparent;
    background-image: linear-gradient(44deg, #77216f 20%, #e95420);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
