#!/bin/bash

export NODE_ENV=""
export GITHUB_CLIENT_ID=""
export GITHUB_CLIENT_SECRET=""
export HOST=""
export MONGODB_URI=""
export PAPERTRAIL_HOST=""
export PAPERTRAIL_PORT=""
export PROCESS_LIMIT="4"
export SESSION_SECRET=""
export SMARTFILE_KEY=""
export SMARTFILE_PASS=""
export SMARTFILE_SHARE=""
export SMARTFILE_URL=""
export UPLOADCARE_KEY=""
export STATIC_ROOT=""
